%section.header-section-wrapper
  .gray-navigation
    = render partial: "common/public_navigation"

#old_static_container
  #faq.contenedor960
    %h3 Preguntas frecuentes

    .tema
      %h4 Sobre las aliadas
      .preguntas
        %p.pregunta ¿Cómo puedo pedir a la misma Aliada?
        %p En Aliada sabemos que una vez encuentras a la aliada perfecta, no querrás cambiarla. Por eso, una vez que calificas de manera positiva a tu primer aliada y pides el servicio de manera recurrente, nosostros nos encargamos de que sea siempre la misma aliada la que te visite.
      .preguntas
        %p.pregunta ¿Quienes son Aliadas?
        %p En Aliada trabajamos todos los días para encontrar a las mejores profesionales. Nuestras aliadas son expertas en limpieza, todas han pasado por un proceso muy riguroso de selección que incluye una validación de domicilio y referencias de empleos anteriores, pruebas psicométricas enfocadas a honestidad y un examen de conocimientos de limpieza doméstica. Además, toda aliada recibe un entrenamiento riguroso desarrollado por los expertos de Aliada. Puedes respirar tranquilo. Nuestras aliadas son de total confianza.

    .tema
      %h4 Sobre los pagos
      .preguntas
        %p.pregunta ¿Qué tarjetas acepta Aliada?
        %p De crédito y débito, Visa, Master Card y American Express.
      .preguntas
        %p.pregunta ¿Puedo pagar en efectivo?
        %p Por tu seguridad y la de la aliada, los pagos se hacen comodamente con tu tarjeta de crédito. No más efectivo.
      .preguntas
        %p.pregunta ¿Se espera que le de propina a mi Aliada?
        %p En Aliada queremos que todos los servicios sean de excelente calidad, independientemente del cliente o de la aliada, por eso no fomentamos las propinas. Nosotros las apoyamos directamente con todo lo que necesitan. Tu solo preocúpate de disfrutar de tu hogar.
      .preguntas
        %p.pregunta Si la cita dura menos/más de lo planeado
        %p Nuestro sitio web te ayuda a determinar el número de horas que tu aliada necesitará para limpiar dependiendo del número de habitaciones y baños en tu hogar. Las aliadas reportan diariamente la duración real de los servicios y con base en esa información se hace el cobro el día después de la visita. La duración mínima de los servicios es de 3 horas ya que las aliadas incurren en gastos de transporte significativos para llegar a tu hogar.
      .preguntas
        %p.pregunta ¿Bajo qué concepto puedo identificar el cargo a mi tarjeta?
        %p El cobro de aliada aparecerá en tu estado de cuenta como "Servicio Aliada."

    .tema
      %h4 Garantía de satisfacción
      .preguntas
        %p.pregunta ¿Cuál es la política de satisfacción de Aliada?
        %p Hacemos lo imposible para atenderte de la manera que mereces. Por eso, en caso que no estés satisfecho con el servicio de tu aliada, contáctanos dentro de las siguientes 72 y te ayudaremos a reagendar una nueva cita o te regresamos tu dinero.
      .preguntas
        %p.pregunta ¿Qué pasa si mi Aliada llega tarde?
        %p La puntualidad es un valor indispensable para Aliada. Nos importa tanto que tu servicio sea siempre puntual, que en la rara ocasión en que tu aliada llegue más de 30 minutos tarde, te pedimos que nos notifiques para habilitarte un descuento en tu próxima visita.
      .preguntas
        %p.pregunta ¿Qué pasa si mi Aliada no llega?
        %p En el raro caso que tu aliada no se presente a su servicio, notifícanos y te re-agendaremos un servicio totalmente gratis para el día y hora que más te acomode.
      .preguntas
        %p.pregunta ¿Puedo cancelar/reagendar una visita?
        %p Sí. En Aliada tu comodiad es muy imporante para nosotros. Si necesitas cancelar o reagendar una cita, puedes hacerlo por medio de la página web. Entra a tu perfil de usuario, ve al historial de visitas y haz los cambios que necesites. Si tienes alguna duda nos puedes encontrar en el chat de la página, al teléfono 55 12 04 12 63, ó nos puedes escribir a info@aliada.mx. Los cambios y cancelaciones se deben de hacer por lo menos 24 horas antes de la cita programada, esto para que tu aliada tenga la oportunidad de que se le asigne otro servicio y no pierda oportunidad de trabajo. Los servicios cancelados con menos de 24 horas de anticipación estarán sujetos a un cargo de $100 pesos.

    .tema
      %h4 Seguridad y confianza
      .preguntas
        %p.pregunta ¿Puedo dejarle la llave de mi hogar a mi aliada?
        %p Tanto por tu seguridad como la de las aliadas, no está permitido que ellas tengan las llaves de tu hogar. Puedes agendar una cita desde las 7 a.m. hasta las 5 p.m. para que decidas en qué horario prefieres recibir el servicio. Te recomendamos que cuando una aliada te vaya a visitar, una persona mayor a los 18 años esté presente durante los primeros 10 minutos para que puedas explicarle en qué quieres que se enfoque durante su visita.
      .preguntas
        %p.pregunta ¿Puedo hacer mi reservación por teléfono?
        %p Por tu seguridad, debes hacer las reservaciones desde la página web ó la aplicación móvil, así el pago y la información de tu tarjeta se manejan de manera automática y segura.

    .tema
      %h4 Servicios que ofrecen las aliadas
      .preguntas
        %p.pregunta ¿Qué está incluido en el servicio?
        %p Nuestros servicios principales son limpieza general (barrer, trapear, sacudir, etc.), lavado y planchado de ropa. El detalle de los servicios incluidos se puede consultar en nuestro checklist de limpieza.
      .preguntas
        %p.pregunta ¿Tienen servicio de planta?
        %p Por el momento las aliadas sólo ofrecen servicios por hora.


= render partial: "common/footer"