%section.header-section-wrapper
  .gray-navigation
    = render partial: "common/public_navigation"


#old_static_container
  .contenedor960
    .terminoscondiciones
      %h1
        Trabaja en aliada

      %p
        En aliada estamos conectando a gente que necesita servicio de limpieza sin las complicaciones de la contratación de alguna extraña con gente que puede proveer el servicio con la calidad de su experiencia.

      %p
        Es una empresa que está creciendo rapidamente mientras hace un cambio real en este país al que tanta falta le hace. A las Aliadas les cambia la vida trabajar con nosotros, ganan mucho más, con horarios flexibles, consiguen independencia y en general ganan auto respeto.

      %p
        Los clientes aman el servicio también y estamos creciendo mes con mes con servicios recurrentes, osea con flujo estable de dinero. 

      %p
        Pero nos faltan manos.

      %h2
        Lead backend developer

      %p
        Buscamos un railero con experiencia que tenga:

      %ul
        %li
          Competencia probada construyendo aplicaciones en Ruby on Rails. 
        %li
          Conocimientos de programación orientada a objetos, arquitectura MVC y bases de datos relacionales
        %li
          Experiencia habiendo lanzado aplicaciones en producción
        %li
          Experiencia con git, usando branches, pull requests, issues de github.
        %li
          No es un trabajo de frontend pero habilidades de HTML, CSS y javascript serán básicas en algún punto
        %li
          Experiencia con desarrollo guiado por pruebas, rspec, capybara.
        %li
          Aprendizaje rápido, valentía leyendo código ajeno, creando tus propios requerimientos, y humildad para pregunta  cuando no entiendes algo, eres un desarrollador independiente.
        %li
          Te sientes cómodo trabajando remoto usando control de tareas (Trello), Slack.

      %p
        <b>Plus:</b>
        %br
        Experiencia con Heroku
        %br
        Habilidades avanzadas de debugging
        %br
        Experiencia en startups
        %br

      %p
        = link_to 'mailto:guillermo@aliada.mx', {class: 'action-button-pink size-large'} do
          Contacta a guillermo@aliada.mx

= render partial: "common/footer"
