%section.header-section-wrapper
  .gray-navigation
    = render partial: "common/public_navigation"


#old_static_container
  .contenedor960
    .terminoscondiciones
      %h1
        Work in aliada

      %p
        In aliada we are connecting people who need cleaning services with experienced cleaners (aliadas) without complicated contracts and the risk of letting a stranger into their house.

      %p
        aliada is a fast growing company making a real impact in the lives of Aliadas. They love working for us because they make more money, with a flexible schedule gaining self respect.

      %p
        Our customers love the ease of use of the service, paying with credit card, the convenience of aliada dealing with any problems. Our customers end up with an Aliada going to their house every week and often more than one time a week, providing us with a stable revenue stream.

      %p
        But we need hands to scale.

      %h2
        Lead backend developer

      %p
        An experienced Rails guy with:

      %ul
        %li
          A proven record building Ruby on Rails production applications.
        %li
          OOP, MVC and relational databases expert knowledge.
        %li
          Experience using git, branches, pull request, github issues, the whole git flow process.
        %li
          This is not a frontend job but, HTML, CSS and Javascript experience will be needed at some point.
        %li
          Experience with test driven development, bonus points for rspec and capybara.
        %li
          Fast learning skills, reading existing code bases, creating requirements, and a good knowledge of own weaknesses
        %li
          Remote work skills, using task management system such a trello and great communication skills.
        %li
          A indepent proactive attitude.

      %p
        <b>Plus:</b>
        %br
        Experience with Heroku
        %br
        Rockstar level debugging skills
        %br
        Startup experience
        %br

      %p
        = link_to 'mailto:guillermo@aliada.mx', {class: 'action-button-pink size-large'} do
          Contact guillermo@aliada.mx

= render partial: "common/footer"
