%section.header-section-wrapper
  .gray-navigation
    = render partial: "common/public_navigation"

#old_static_container
  .contenedor960
    .terminoscondiciones
      %span.titul
        %h1 Aviso de Privacidad
        .terms-text
          %p De conformidad con lo previsto en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, su Reglamento y los Lineamientos del Aviso de Privacidad, por medio del presente, le damos a conocer a usted (indistintamente “Usted” o el “Titular”), nuestro aviso de privacidad  (el “Aviso de Privacidad”), el cual le aplicara a usted como cliente, usuario, proveedor de servicios o empleado de GRUPO ALIADAMX, SA (indistintamente “Nosotros” o “Aliada”). Salvo que se indique lo contrario o se establezca particularidades, este Aviso de Privacidad es aplicable a la información que Nosotros recopilemos a través del aliada.mx (el “Sitio Web”), la aplicación de aliada, correos electrónicos y otros posibles medios de comunicación, tales como redes sociales, teléfonos inteligentes, sitios web de terceros relacionadas con Aliada, encuestas  presenciales en eventos propios o de terceros, entre otros.
          %p A Aliada le interesa que Usted comprenda nuestras prácticas de privacidad, específicamente, que datos personales e información es la que recopilamos y el trato y uso que se le da a esa información, con quien compartimos esa información y que hacemos para protegerla. Queremos que Usted sepa que en todo caso manejamos sus datos personales no sólo según  lo dispuesto por la ley mexicana correspondiente sino también siguiendo las mejores prácticas internacionales en el manejo y administración de datos personales. En Aliada nos comprometemos a seguir nuestras prácticas de privacidad y a cumplir con los ordenamientos legales respectivos.
          %p En atención a los dispuesto por la legislación aplicable, usted acepta el tratamiento de sus datos personales se realice de conformidad con este Aviso de Privacidad.

          %ol
            %li Nuestra Identidad y Domicilio. Nosotros, Grupo ALIADAMX, SA, con domicilio en Calle Tabasco 232, Colonia Roma Norte, 06700, en México, Distrito Federal, seremos los responsables de tratar los datos personales que nos proporcione de conformidad con lo dispuesto por el presente Aviso de Privacidad.
            %li De los Datos Personales que Recabamoss. Los datos que Usted nosproporcionaa para ser tratados conforme a la Sección correspondiente del presente Aviso de Privacidad serán:
            %li
              %ol
                %li De los Usuarios de los Servicios: (i) nombre(s), apellido paterno y apellido materno; (ii) domicilio; (iii) número telefónico fijo o celular; (iv) correo electrónico y (v) cuentas de redes sociales.
                %li De las Personas que ofrezcan servicios de limpieza a través de las plataformas de Aliada (las “Personas Aliadas”): (i) nombre(s), apellido paterno y apellido materno, (ii) fecha de nacimiento; (iii) estado civil, (iv) domicilio; (v) fotografías; (vi) número telefónico fijo y celular; (vii) diversos medios de identificación (Credencial IFE, Pasaporte o Licencia); (viii) RFC y CURP; (ix) firma, huella digital y referencias de empleos anteriores; (x) datos patrimoniales.

= render partial: "common/footer"