%section.header-section-wrapper
  .gray-navigation
    = render partial: "common/public_navigation"

.recruitment-signup
  .container
    .row
      .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1
        .row
          .col-lg-8.col-md-8.col-sm-8
            .recruitment-signup__header
              .icon
                = image_tag("aliada-icon-primary.png", alt: "")
              .desc
                %h1 ¿Lista para ser Aliada?
                %p Por favor llena el siguiente formulario. Y muy pronto contaras con todos los beneficios de ser una Alida.
        .recruitment-form#wufoo-zlt8x0y01nkkhk
          %p Llena el formulario en <a href="https://aliada.wufoo.com/forms/zlt8x0y01nkkhk">online form</a>.

:javascript
  var zlt8x0y01nkkhk;

  (function(d, t) {
    var s = d.createElement(t),
        options = {
          'userName': 'aliada',
          'formHash': 'zlt8x0y01nkkhk',
          'autoResize' :true,
          'height': '1894',
          'async': true,
          'host': 'wufoo.com',
          'header': 'show',
          'ssl': true
        };

    s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';

    s.onload = s.onreadystatechange = function() {
      var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
      try {
        zlt8x0y01nkkhk = new WufooForm();
        zlt8x0y01nkkhk.initialize(options);
        zlt8x0y01nkkhk.display();
      } catch (e) { }
    };

    var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
  })(document, 'script');

= render partial: "common/footer"