.container-fluid
  .navbar-header
    %a.logo.pjax{href: dashboard_path}
      = image_tag 'rails_admin/logo.png'
      admin
  .collapse.navbar-collapse
    = render partial: 'layouts/rails_admin/secondary_navigation'
