@import 'common/variables'

@import 'common/mixins'
@import "compass/css3/text-shadow"

body.home
  display: table
  height: 100%
  width: 100%

  .header-container
    .nav-container
      ul.nav
        li
          a
            +text-shadow($darkest_gray 0px 0px 4px)


  .steps-section-wrapper
    background-color: white

    h3
      width: 100%
      display: block
      text-align: center 
      +rem(font-size, $extra-large-font)
      +rem(margin, 4rem auto)

    .step
      text-align: center
      +rem(margin, 3rem 0)
      img
        width: 200px
      h1
        +rem(margin, 2rem)

    .call-to-action-wrapper
      width: 300px
      +rem(margin, 2rem auto 4rem)
      text-align: center

  .feliciana-section-wrapper
    +rem(padding-top, 6rem)
    background-color: white
    .container
      width: 100%
      background-color: $lightest_gray
      .feliciana-section-container
        height: 310px
        max-width: 850px
        position: relative
        margin: 0 auto
        img
          position: absolute
          bottom: 0px
        .benefits
          +rem(padding, 2rem 0 0)
        ul.summary
          +rem(margin-top, 2rem)
          li
            +rem(line-height, 2.7rem)
            +rem(font-size, 1.8rem)
            font-weight: 600

  .search-section-wrapper
    background: url("home-header-background.jpg") no-repeat center center
    background-size: cover
    background-color: white
    box-sizing: border-box
    position: relative
    height: 750px


    .search-container
      +rem(margin, 10rem 0)
      +rem(padding, 1.5rem 0)
      vertical-align: middle
      width: 100%

      .search-slogan-container
        +rem(margin, 0 0 10rem)
        text-align: center

        .slogan
          display: inline-block
          +rem(margin, 0 auto 1rem)
          position: relative
          +rem(font-size, 7rem)
          font-weight: 600
          letter-spacing: -3px
          color: white
          +text-shadow($darkest_gray 0px 0px 4px)

          .shine
            max-width: 15px
            position: absolute
            right: -15px
            top: -12px
            width: 100%
            vertical-align: top

        .motto
          font-style: italic
          +rem(font-size, 2.5rem)
          +text-shadow($darkest_gray 0px 0px 4px)

      .search-form-container
        +rem(margin, 0 0 4rem)
        text-align: center

        legend
          border: none
          color: white
          +rem(margin, 0 0 1rem)
          +rem(font-size, 1.8rem)
          width: 100%
          +text-shadow($darkest_gray 0px 0px 4px)

        .action-button-container
          width: 300px
          display: inline-block

  .media-section-wrapper
    background-color: $lightest-gray

    .media-section-container
      +rem(margin, 3rem 0)
      text-align: center

      .media-logo
        display: inline-block
        margin: 0
        width: 18%

        img
          display: inline-block
          max-height: 40px

  .payment-section-wrapper
    background-color: white
    +rem(padding, 5rem 0)
    border-top: 1px solid $lightest_gray

    .call-to-action-wrapper
      +rem(margin, 2rem 0)
      .action-button-pink
        +rem(margin-left, 3rem)

    .payment-description
      text-align: right
      +rem(font-size, 1.5rem)

      p
        margin: 0

    .payment-logos
      img
        display: inline-block
        max-width: 320px
        vertical-align: middle

  .why-section-wrapper
    background-color: white

    .why-section-container
      text-align: center

      h3.why-section-title
        color: $medium_gray
        font-weight: 600
        letter-spacing: -2px
        +rem(margin, 4.5rem 0)
        +rem(font-size, 2.8rem)

      .why-description
        color: $medium_gray
        +rem(margin, 2rem auto 4rem)
        max-width: 250px

      img
        display: block
        +rem(margin, 2rem auto)
        max-width: 90px
        width: 100%

  .service-section-wrapper
    background-color: white
    +rem(padding-bottom, 3rem)

    .service-section-container
      text-align: center

      h2.service-section-title
        color: $medium_gray
        font-weight: 600
        letter-spacing: -2px
        +rem(margin, 4.5rem 0 1rem)
        +rem(font-size, 3.5rem)

      .service-subtitle
        color: $medium_gray
        margin: 0 auto 4rem
        +rem(font-size, 1.5rem)

      .service-description
        color: $green
        +rem(margin, 2rem auto 4rem)
        max-width: 150px

      img
        display: block
        +rem(margin, 2rem auto)
        max-width: 60px
        width: 100%

  .warranty-section-wrapper
    background-color: $lightest-gray
    text-align: center
    +rem(padding, 5rem 0)

    .warranty-section-container

      .warranty-logo
        display: inline-block
        max-width: 140px
        vertical-align: middle
        width: 100%
        +rem(margin-right, 4rem)

      .warranty-description
        color: $green
        display: inline-block
        font-weight: 400
        letter-spacing: -2px
        max-width: 420px
        text-align: left
        vertical-align: middle
        width: 100%
        +rem(font-size, 3.5rem)
