%h3.date=  I18n.l @service.tz_aware_datetime, format: '%A %e de %B  a las %I %P'
%h5.client= @service.user.first_name + ' ' + @service.user.last_name
%h5.phone= @service.user.phone

= render partial: 'aliadas/hours_worked_service_form', locals: { service: @service }
