.recurrence-header
  .head
    .badge
      Recurrente
      =image_tag("recurrence.png", {:title => 'Servicio recurrente'})
    .title
      Todos los jueves
    .small-letters
      a partir del 23 de enero
    .action-link
      =link_to("Modifcar todas las visitas próximas", "", {})

.service-card-wrapper.col-lg-6
  .service-card.one-time
    .head
      .title
        Jueves 1
      .small-letters
        a partir del 23 de enero

    .body
      = render partial: 'common/summary'

    .foot
      .actions
        %a.action-button.size-large
          %span.icon-pencil.icon-button
          Modificar servicio

      .numbers
        %span.hours 4 horas
        %span.cash $65

.service-card-wrapper.col-lg-6
  .service-card.one-time
    .head
      .title
        Jueves 8
      .small-letters
        a partir del 23 de enero

    .body
      = render partial: 'common/summary'

    .foot
      .actions
        %a.action-button.size-large
          %span.icon-pencil.icon-button
          Modificar servicio

      .numbers
        %span.hours 4 horas
        %span.cash $65

.clearfix

.service-card-wrapper.col-lg-6
  .service-card.one-time
    .head
      .title
        Jueves 8
      .small-letters
        a partir del 23 de enero

    .body
      = render partial: 'common/summary'

    .foot
      .actions
        %a.action-button.size-large
          %span.icon-pencil.icon-button
          Modificar servicio

      .numbers
        %span.hours 4 horas
        %span.cash $65

.service-card-wrapper.col-lg-6
  .service-card.one-time
    .head
      .title
        Jueves 8
      .small-letters
        a partir del 23 de enero

    .body
      = render partial: 'common/summary'

    .foot
      .actions
        %a.action-button.size-large
          %span.icon-pencil.icon-button
          Modificar servicio

      .numbers
        %span.hours 4 horas
        %span.cash $65