.service-card-wrapper.col-lg-6
  .service-card.recurrent
    .head
      .badge
        Recurrente
        =image_tag("recurrence.png", {:title => 'Servicio recurrente'})
      .title
        Todos los jueves
      .small-letters
        a partir del 23 de enero

    .body
      = render partial: 'common/service_summary'

    .foot
      .actions
        %a.action-button.size-large
          %span.icon-pencil.icon-button
          Modificar servicio

      .numbers
        %span.hours 4 horas
        %span.cash $65

.service-card-wrapper.col-lg-6
  .service-card.empty
    %span Programa una nueva visita

.clearfix

.service-card-wrapper.col-lg-6
  .service-card.one-time
    .head
      .title
        Todos los jueves
      .small-letters
        a partir del 23 de enero

    .body
      = render partial: 'common/service_summary'

    .foot
      .actions
        %a.action-button.size-large
          %span.icon-pencil.icon-button
          Modificar servicio

      .numbers
        %span.hours 4 horas
        %span.cash $65

.service-card-wrapper.col-lg-6
  .service-card.empty
    %span Programa una nueva visita

.service-card-wrapper.col-lg-12
  .service-card.empty
    %span Programa una nueva visita
