.service_history.col-lg-12
  .service_history_header HISTORIAL DE VISITAS
  %div.table-responsive.service_history_table
    %table.table
      %thead
        %tr
          %th Fecha
          %th Duración 
          %th Aliada Asignada
          %th Pago
          %th Estimado
          %th Calificación
      %tbody
        %tr
          %td Jueves 4 de agosto
          %td 4 horas
          %td Aidé López
          %td -
          %td $200
          %td.rating
            %form
              %input{:type=>'radio', :name=>'rating', :value=>'1'}
              %span
              %input{:type=>'radio', :name=>'rating', :value=>'2'}
              %span
              %input{:type=>'radio', :name=>'rating', :value=>'3'}
              %span
              %input{:type=>'radio', :name=>'rating', :value=>'4'}
              %span
              %input{:type=>'radio', :name=>'rating', :value=>'5'}
              %span
        %tr
          %td Jueves 4 de agosto
          %td 4 horas
          %td Aidé López
          %td -
          %td $200
          %td.rating
            %form
              %input{:type=>'radio', :name=>'rating', :value=>'1'}
              %span
              %input{:type=>'radio', :name=>'rating', :value=>'2'}
              %span
              %input{:type=>'radio', :name=>'rating', :value=>'3'}
              %span
              %input{:type=>'radio', :name=>'rating', :value=>'4'}
              %span
              %input{:type=>'radio', :name=>'rating', :value=>'5'}
              %span
