@import 'common/mixins'
@import 'common/variables'
@import 'compass/css3/box-shadow'

@import 'partials/services/step_1_duration'
@import 'partials/services/step_2_personal_info'
@import 'partials/services/step_3_visit_info'
@import 'partials/services/step_4_payment'
@import 'partials/services/step_5_success'

body.initial_service
  > .container
    min-height: 1050px

  main
    margin-bottom: $footer-height / 2

    section
      > *
        margin: 15px 0
      > h1
        margin-top: 0
      > h4
        font-weight: 700
  aside
    .action-button-pink
      +rem(padding, 2rem 3rem)
    .tos-container
      background-color: white
      text-align: center
      +rem(font-size, 1.4rem)
      +rem(margin-top, 2rem)

