@import 'common/mixins'

.step_2_personal_info
  position: relative

  icon
    +rem(font-size, 2.2rem)

  #map-container
    width: calc(100% + 84px)
    height: 400px
    position: relative
    // Compensate for the container padding
    left: -42px
    bottom: -27px
    margin-top: 0
