@import 'aliada_variables'

$link-color: $brand

// Sidebar item selected color
$nav-pills-active-link-hover-bg: $brand_secundary

// Buttons colors
$btn-primary-bg: $brand_contrast
$btn-primary-border: darken($btn-primary-bg, 20%)

$btn-info-bg: $brand_secundary
$btn-info-border: darken($btn-info-bg, 20%)
