%section.step_4_payment{data: {bind: 'visible: current_step() == 4'}, style: 'display: none'}
  %h1
    Agrega un método de pago
  %p
    El cargo a tu tarjeta se hace un día siguiente a la visita
  = initial_service_form.collection_radio_buttons :payment_method_id, PaymentMethod.all, :id, :name
  = render partial: 'common/conekta_form'
