%section.step_3_visit_info{data: {bind: 'visible: current_step() == 3'}}
  = initial_service_form.collection_radio_buttons :service_type_id, ServiceType.all, :id, :name
  = render partial: 'common/calendar'
  = initial_service_form.date_field :date
  = initial_service_form.time_field :time
