%section.step_1_duration{data: {bind: 'visible: current_step() == 1'}}
  = hidden_field :incomplete_service, :id

  = initial_service_form.hidden_field 'estimated_hours', data: {bind: 'attr: {value: hours}'}

  %h1
    Cuéntanos más de tu casa

  %h4
    Dinos cuánto tiempo necesitas a la aliada

  = render partial: 'common/hours_selector', locals: {form: initial_service_form}

  %h4
    Agrega tareas extras (extiende el tiempo de la visita)

  = render partial: 'common/extras', locals: {form: initial_service_form}
