.summary
  %h1
    Resúmen

  .promotional-code
    %a
      APLICAR
    = text_field_tag 'promo-code', nil, placeholder: 'código promocional'

= initial_service_form.submit 'atras', id: 'previous_button'
= initial_service_form.submit 'adelante', id: 'next_button'
