@import 'common/variables'
@import 'common/mixins'

.messages-container
  min-width: 300px
  max-width: 550px
  +rem(margin, 2rem auto)
  background-color: white

.message
  border: 2px solid
  border-radius: 3px
  font-weight: 600
  vertical-align: middle
  +rem(font-size, 1.3rem)
  +rem(margin-bottom, 1rem)
  +rem(padding, 1rem)
  cursor: pointer

  a
    display: inline-block
    text-decoration: underline

  span
    display: inline-block
    vertical-align: text-top
    +rem(font-size, 1.5rem)
    +rem(margin-right, 1rem)

    &.icon-pencil
      vertical-align: middle
      +rem(font-size, 1rem)


  &.message,
    color: $green
    border-color: $green

    a
      color: $green

  &.warning
    color: $yellow
    border-color: $yellow

    a
      color: $yellow

  &.alert
    color: $error
    border-color: $error

    a
      color: $error

  &:last-child
    margin-bottom: 0
