@import 'common/variables'
@import 'common/mixins'
@import 'compass/css3/box-shadow'

.service-card-wrapper

  &.new-service-card
    display: table
    height: 100%
    margin: 35px 20px
    &.horizontal
      height: 210px
    
    .service-card
      height: 100%

  &.empty
    min-height: 400px
    .service-card
      box-shadow: none !important
      border: 3px dashed $pink
      display: table
      color: $pink
      text-align: center
      width: 100%
      +rem(margin-bottom, 4rem)

      a
        display: table-cell
        vertical-align: middle
        font-weight: 600
        +rem(font-size, $medium-font)
        color: $pink

.service-card
  +box-shadow($medium-gray 0px 0px 4px)
  +rem(margin-bottom, 4rem)

  &.recurrent
    .head
      background-color: $purple

    .foot
      .actions
        a
          +action-button($purple)

  &.one-time
    .head
      background-color: $green

    .foot
      .actions
        a
          +action-button($green)


  .body
    background: white
    color: $dark_gray
    +rem(padding, 3rem)

  .foot
    background: white
    +rem(padding, 0rem 1.5rem 2rem 3rem)
    +prevent-collapse

    .actions
      display: inline-block
      text-align: left
      vertical-align: top
      width: 60%

      a
        +rem(margin-top, 1rem)
        min-width: 220px

    .numbers
      display: inline-block
      text-align: right
      vertical-align: bottom
      width: 37%

      .hours
        vertical-align: middle
        +rem(font-size, $medium-font)

      .cash
        vertical-align: middle
        +rem(font-size, $extra-large-font)


  .head
    position: relative
    +rem(padding, 3rem 2rem 2rem)

    .badge
      background: transparent
      color: white
      position: absolute
      +rem(right, 1rem)
      +rem(top, 1rem)

      img
        display: inline-block
        max-width: 25px
        width: 100%

    .title
      color: white
      font-weight: 600
      letter-spacing: -2px
      margin: 0
      text-align: center
      +rem(font-size, $extra-large-font)

    .small-letters
      color: white
      font-style: italic
      text-align: center
      +rem(font-size,  $medium-font)
