.summary
  width: 100%
  background-color: white
  +rem(font-size, 1.6rem)
  +rem(padding, 0)
  &.initial
    +box-shadow($medium-gray 0px 0px 4px)
    padding: 42px 20px 20px
  .foot
    text-align: right
    .hours
      +rem(font-size, $medium-font)
      vertical-align: middle
    .cash
      +rem(font-size, $extra-large-font)
      vertical-align: middle

  li
    +rem(margin-bottom, 0.2rem)
    +rem(padding-left, 2.2rem)

  .checked
    background-image: image-url('check-active-recurrent.png')
    background-repeat: no-repeat
    background-position: left 4px
    background-size: 15px 15px

  .unchecked
    background: none

  .promotional-code
    position: relative
    float: right
    width: 215px

    a
      position: absolute
      right: 0
      top: 1px
      color: $green

    input[type=text]
      width: 100%
