- update_path = Rails.application.routes.url_helpers.add_billable_hours_to_service_path(service.id)

.rails_admin_billable_hours_widget
  .update_path{ data: {updatePath: "#{update_path}" } }

  - if service.paid?
    .amount_to_bill
      %span.text
        Cobrado $#{service.amount_to_bill}

  - elsif service.canceled?
    %span.text
      Servicio cancelado

  - else
    = text_field_tag :value, service.billable_hours, class: :billable_hours_input, tabindex: @loop_index + 1
    .amount_to_bill
      %span.text
        Cobrar $
      %span.amount
        = service.amount_to_bill 
