%table.table{id: @aliada.id, class: "aliada-schedule"}
  - @date_headers =  I18n.t(:"date.day_names")
  - @days_of_week = (0..6)
  - services = @aliada.current_week_services
  %thead
    %tr
      %th= ' '
      - @days_of_week.each do |day|
        %th= @date_headers[day]
  %tbody
    - begin_time = 7.hour.to_i #- ActiveSupport::TimeZone["Mexico City"].utc_offset
    - end_time = 20.hour.to_i #- ActiveSupport::TimeZone["Mexico City"].utc_offset
    - (begin_time..end_time).step((0.5).hour) do |t|
      %tr
        %th= ActiveSupport::TimeZone.at(t).strftime("%k:%M")
        - @days_of_week.each do |day|
          - services_to_show = services.select {|service| service_in_wday_and_hour?(service, day, t)}
          %td= if services_to_show.first then services_to_show.first.user.full_name end
