@import 'reset'
@import 'typography'
@import 'variables'
@import 'mixins'
@import 'forms'

// Boostrap
// rails helpers
@import 'bootstrap-sprockets'
@import 'common/bootstrap'

//Icomoon Fonts
@import "common/icomoon"

// Layouts
@import 'common/two_columns'
@import 'common/one_column'

// Modules
@import 'modules/login'
@import 'modules/calendar'
@import 'modules/header'
@import 'modules/inner_navigation'
@import 'modules/summary'
@import 'modules/selectBoxIt'
@import 'modules/bathroom-bedrooms'
@import 'modules/extras'
@import 'modules/service-card'
@import 'modules/service_type_buttons'
@import 'modules/time_selector'
@import 'modules/conekta_form'
@import 'modules/messages'
@import 'modules/navigation'

// Modal
@import 'vex'
@import 'vex-theme-aliada'

html
  overflow-y: scroll
  height: 100%

body
  background-color: $lightest_gray

a, input
  outline: 0 !important

a
  cursor: pointer
  &:hover, &:focus
    text-decoration: underline
    color: $green

.left
  float: left

.right
  float: right

.half
  width: 49.8%

.two-thirds
  width: 65.8%

.third
  width: 32.8%

b
  font-weight: 800

.center
  text-align: center
  +centered

a.small-letters
  text-decoration: underline
  color: $green

.small-letters
  +rem(font-size, $small-font)

.smallish-letters
  +rem(font-size, $smallish-font)

h1
  color: $green
  font-weight: 800
  +rem(font-size, $extra-large-font)
  +rem(line-height, $extra-large-font)

h2
  +rem(font-size, $extra-large-font)
  color: $green
  font-weight: 600

h4
  font-weight: 600
  +rem(font-size, $medium-font)
  +rem(line-height, $medium-font)

.clearfix:after 
  visibility: hidden
  display: block
  font-size: 0
  content: " "
  clear: both
  height: 0

.underline
  text-decoration: underline
  color: $green

icon
  width: 20px
  height: 20px
  display: inline-block
  background-size: cover
  vertical-align: middle
  &.small
    width: 10px
    height: 10px
  &.instructions
    background-image: image-url('instructions.png')
  &.calendar
    background-image: image-url('calendar.png')
  &.clock
    background-image: image-url('clock.png')
  &.phone
    background-image: image-url('phone.png')
  &.pencil
    background-image: image-url('pencil.png')
  &.user
    background-image: image-url('user.png')
  &.house
    background-image: image-url('house.png')
  &.hash
    background-image: image-url('hash.png')
  &.sparks
    background-image: image-url('sparks.png')
  &.check
    background-image: image-url('check.png')
  &.check-active
    background-image: image-url('check-active.png')
  &.aliada
    background-image: image-url('aliada-icon.png')

p.medium
  +rem(font-size, $medium-font)

footer
  background-color: $darkest-gray
  background-image: image-url('black_mosaic.png')
  color: white
  +rem(padding, 5.5rem 0)
  +rem(font-size, 1.4rem)
  height: $footer-height
  position: relative

  .bottom-nav
    ul
      margin: 0
      padding: 0

      li
        a
          color: white
        &.iconized
          position: relative
          left: -23px
  ul.social-links
    text-align: center
    +rem(margin-top, 2rem)
    +rem(padding-top, 1rem)
    li
      display: inline-block
      margin: 0 5px
      a
        color: white
      icon
        vertical-align: -2px
        &.icon-facebook
          vertical-align: -0px


  .call-us

    span
      display: inline-block
      vertical-align: middle
      +rem(font-size, 4rem)
      +rem(margin-right, 0.5rem)

    p
      display: inline-block

.concealed
  display: none

.action-button-pink
  +action-button($dark_pink)

.action-button-green
  +action-button($green)

.action-button-gray
  +action-button($dark_gray)

.action-button-transparent
  +action-button(transparent)

.action-button-purple
  +action-button($purple)

.form-control
  .field
    padding: 0
    position: relative
    margin: 0

  input[type=text], input[type=email], input[type=password]
    border: none
    border-bottom: 1px solid $darkest_gray
    background-color: white
    width: 100%

  .icon
    color: $light_gray
    left: 0
    position: absolute
    top: 15px


iframe[src*="conekta"]
  display: none
  

.wrapper
  max-width: 960px

.description
  font-weight: 600
  +rem(font-size, 1.8rem)

.logo
  max-width: 130px
  width: 100%

.size-fill-up
  +rem(font-size, 1.5rem)
  width: 100%

.blocked_ui_dialog
  min-width: 300px
  .loader_container
    padding: 20px

.disabled
  +opacity(0.3)
  cursor: default
  pointer-events: none

.sticky
  position: fixed
  float: none
  top: 20px
  z-index: 6
  left: auto

#cancel_button
  margin-top: 25px
  +rem(padding, 2rem 3rem)

@media only screen and (min-device-width : 320px) and (max-device-width : 568px)
  .blocked_ui_dialog
    left: 0% !important


.admin-info
  color: $pink
  &:hover
    .text
      display: block
  .text
    padding: 10px
    display: none
    color: black
    float: left
    position: absolute
    background-color: white
    border: 1px dotted $pink
    z-index: 9
  span.icon-help-with-circle
    cursor: pointer
