@import 'reset'
@import 'typography'
@import 'variables'
@import 'mixins'
@import 'forms'

// Layouts
@import 'common/two_columns'
@import 'common/one_column'

// Modules
@import 'modules/calendar'
@import 'modules/header'
@import 'modules/inner_navigation'
@import 'modules/summary'
@import 'modules/hours_selector'
@import 'modules/bathroom-bedrooms'
@import 'modules/extras'
@import 'modules/service-card'
@import 'modules/service_type_buttons'
@import 'modules/time_selector'

// Modal
@import 'vex'
@import 'vex-theme-aliada'

@import 'modules/service-card'


html
  overflow-y: scroll

body
  background-color: $lightest_gray

a, input
  outline: 0 !important

a
  cursor: pointer
  &.hover
    text-decoration: underline

.left
  float: left

.right
  float: right

b
  font-weight: 800

a.small-letters
  text-decoration: underline
  color: $green

.small-letters
  +rem(font-size, $small-font)

.smallish-letters
  +rem(font-size, $smallish-font)

h1
  color: $green
  font-weight: 600
  +rem(font-size, $extra-large-font)

h4
  font-weight: 600

icon
  width: 20px
  height: 20px
  display: inline-block
  background-size: cover
  vertical-align: middle
  &.small
    width: 10px
    height: 10px
  &.instructions
    background-image: image-url('instructions.png')
  &.calendar
    background-image: image-url('calendar.png')
  &.clock
    background-image: image-url('clock.png')
  &.phone
    background-image: image-url('phone.png')
  &.pencil
    background-image: image-url('pencil.png')
  &.user
    background-image: image-url('user.png')
  &.house
    background-image: image-url('house.png')
  &.hash
    background-image: image-url('hash.png')
  &.sparks
    background-image: image-url('sparks.png')
  &.check
    background-image: image-url('check.png')
  &.check-active
    background-image: image-url('check-active.png')

p.medium
  +rem(font-size, $medium-font)

footer
  background-color: $darkest-gray
  color: white
  +rem(padding, 4rem 0)
  +rem(font-size, 1.4rem)

  .bottom-nav
    ul
      margin: 0
      padding: 0

      li
        a
          color: white

  .call-us

    img
      display: inline-block
      +rem(margin-right, 1rem)

    p
      display: inline-block

.concealed
  display: none

.action-button-pink
  +action-button($dark_pink)

.action-button-green
  +action-button($green)

.action-button-gray
  +action-button($dark_gray)

.action-button-transparent
  +action-button(transparent)

.action-button-purple
  +action-button($purple)

.wrapper
  max-width: 960px

.description
  font-weight: 600
  +rem(font-size, 1.8rem)

.logo
  max-width: 130px
  width: 100%

.size-fill-up
  +rem(font-size, 1.5rem)
  width: 100%
