@function action-button-background-color($color)
  @if $color == $dark_pink
    @return $pink

  @if $color == $dark_gray
    @return $medium_gray

  @if $color == $green or $color == $purple
    @return transparent

@function action-button-text-color($color)
  @if $color == $dark_pink or $color == $dark_gray
    @return white
  @return $color


@function action-button-hover-background-color($color)
  @if $color == $dark_pink
    @return lighten($pink, 4%)

  @return $color


@mixin action-button($color)
  border-radius: 3px
  box-sizing: border-box
  display: inline-block
  text-align: center
  background-color: action-button-background-color($color)
  border: 2px solid $color
  color: action-button-text-color($color)
  cursor: pointer
  &:hover
    background-color: action-button-hover-background-color($color)
    color: white
    text-decoration: none
  &.size-large
    +rem(font-size, 1.7rem)
    padding: 10px 16px

  &.size-medium
    +rem(font-size, 1rem)
    padding: 6px 12px

  &.size-small
    +rem(font-size, 0.8rem)
    padding: 5px 10px




@function parseInt($n)
  @return $n / ($n * 0 + 1)

@mixin rem($property, $values)
  $px: ()
  $rem: ()
  @each $value in $values
    @if $value == 0 or $value == auto
      $px: append($px, $value)
      $rem: append($rem, $value)
    @else
      $unit: unit($value)
      $val: parseInt($value)
      @if $unit == "px"
        $px: append($px, $value)
        $rem: append($rem, $val / 10 + rem)
      @if $unit == "rem"
        $px: append($px, $val * 10 + px)
        $rem: append($rem, $value)
  @if $px == $rem
    #{$property}: $px
  @else
    #{$property}: $px
    #{$property}: $rem

@mixin input-placeholder()
  &::-webkit-input-placeholder
    @content
  &:-moz-placeholder
    @content
  &::-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content

@mixin prevent-collapse()
  overflow: hidden
