
@mixin action-button-color($color)

  @if $color == $pink
    background-color: $pink
    border: 2px solid $dark_pink
    color: white

  @if $color == $light_green
    background-color: $light_green
    border: 2px solid $green
    color: white

  @if $color == $medium_gray
    background-color: $medium_gray
    border: 2px solid $dark_gray
    color: white



@mixin font-size($sizeValue: 1.6)
  font-size: ($sizeValue * 10) + px
  font-size: $sizeValue + rem