@import 'common/variables'
@import 'common/mixins'
@import 'bootstrap/mixins/grid'
@import "compass/css3/box-shadow"

.one-column
  header
    +make-xs-column(12)

  nav
    +make-xs-column(12)

  main
    +make-xs-column(12)
    padding: 35px 25px
    background-color: white
    content: ""
    display: table
    clear: both

  aside
    +make-xs-column(12)
    padding: 42px

@media screen and(max-width: 400px) 
  .one-column
    .container
      main, aside
        padding: 10px
