@import 'bootstrap/mixins/grid'
@import 'compass/css3/box-shadow'
@import 'variables'

.container.two-columns
  header
    +make-xs-column(12)

  nav
    +make-xs-column(12)

  main
    +make-xs-column(12)
    +make-lg-column(6.8)
    +box-shadow($medium-gray 0px 0px 4px)
    background-color: white
    padding: 42px

  aside
    +make-xs-column(12)
    +make-lg-column(5.1)
    +make-lg-column-push(0.1)

@media screen and(max-width: 400px) 
  .container.two-columns
    main, aside
      padding: 10px
