// Sizes
$base: 6px

// Colors
$green: #00C4B3 
$light_green: #E8F8F5

$pink: #FF637D 
$dark_pink: #EA2F57 

$purple: #9678D2 

$yellow: #FFC842 

$lightest-gray: #F2F2F2
$light_gray: #CBC9C6
$medium_gray: #999899
$dark_gray: #8E8C8F
$darkest_gray: #5A5A5A

// Bootstrap
$grid-columns: 36


