@import 'bootstrap/variables'

// Sizes
$base: 6px

// Colors
$green: #00C4B3 
$faint_green: #4CCFC3
$light_green: #E8F8F5

$pink: #FF637D 
$dark_pink: #EA2F57 

$purple: #9678D2 
$light_purple: #F3EDFF 

$yellow: #FFC842 

$white: #FFFFFF

$lightest_gray: #F2F2F2
$light_gray: #CBC9C6
$medium_gray: #999899
$dark_gray: #8E8C8F
$darkest_gray: #5A5A5A

$error: #FF3D3D
$light_error: #FF9494

// Bootstrap
$grid-columns: 12
$grid-gutter: 20px
$container-lg: (940px + $grid-gutter-width)

$brand-primary: $green
$brand-success: $green
$brand-info: $yellow
$brand-warning: $purple
$brand-danger: $dark_pink
$link-color: $dark_gray

// Typograhy 
$small-font: 1rem
$smallish-font: 1.1rem
$medium-font: 1.7rem
$large-font: 2rem
$extra-large-font: 3rem

$font-family-base: "CircularStd", "Helvetica Neue", Helvetica, Arial, sans-serif
$text-color: $dark_gray

// Layout
$footer-height: 190px
