@import 'bootstrap/variables'

// Sizes
$base: 6px

// Colors
$green: #12B795 
$faint_green: #4CCFC3
$light_green: #E8F8F5

$pink: #FF637D 
$dark_pink: #EA2F57 

$purple: #9678D2 

$yellow: #FFC842 

$white: #FFFFFF

$lightest_gray: #F2F2F2
$light_gray: #CBC9C6
$medium_gray: #999899
$dark_gray: #8E8C8F
$darkest_gray: #5A5A5A

// Bootstrap
$grid-columns: 12
$grid-gutter: 20px
$container-lg: (940px + $grid-gutter-width)

$brand-primary: $green
$brand-success: $green
$brand-info: $yellow
$brand-warning: $purple
$brand-danger: $dark_pink
$link-color: $dark_gray
