@import common/variables

*
  margin: 0
  padding: 0
  font-family: sans-serif
  font-weight: normal

.button
  background: #F5F5F5
  border: 1px solid #EAEAEA
  border-radius: 3px
  padding: 10px
  font-size: 14px
  color: #4E4E4E

  &--full
    display: block
    width: 100%

  &--yellow
    background: $yellow
    border-color: darken($yellow, 10%)
    color: $white

  &--purple
    background: $purple
    border-color: darken($purple, 10%)
    color: $white

body
  background: #F3F3F3

.header
  background: $green
  padding: 15px
  border-bottom: 1px solid darken($green, 5%)
  margin-bottom: 20px

  &__user, &__hours
    color: $white

  &__hours
    font-size: 14px

.section
  margin-bottom: 30px

  &__header
    padding-left: 20px
    margin-bottom: 10px

.service
  background: $white
  margin-bottom: 10px
  border: 1px solid #DEDEDE
  border-width: 1px 0 1px 0
  border-left: 5px solid $white
  padding: 15px

  &--yellow
    border-left-color: $yellow

  &--purple
    border-left-color: $purple

  &__head
    margin-bottom: 10px

    .date
      text-transform: capitalize
      font-size: 18px
      margin-bottom: 5px

    .client
      font-size: 16px
      color: #333333

  &__details
    border-top: 1px solid #EAEAEA

  &__attribute
    margin-top: 10px

    span
      text-transform: uppercase
      font-size: 11px
      color: #4E4E4E

    p
      font-size: 15px

    img
      width: 100%
      height: auto
      max-width: 100%

  &__actions
    border-top: 1px solid #EAEAEA
    margin-top: 10px
    padding-top: 15px

.set-hours
  p
    font-size: 13px
    color: #666666

  &__unit
    margin-top: 10px

.select
  background: #F5F5F5
  border: 1px solid #EAEAEA
  border-radius: 3px
  position: relative

  .arrow
    width: 0
    height: 0
    border-left: 5px solid transparent
    border-right: 5px solid transparent
    border-top: 5px solid #989898
    position: absolute
    right: 10px
    top: 50%
    margin-top: -2px
    pointer-events: none

  select
    cursor: pointer
    width: 100%
    height: 100%
    border: 0
    display: block
    font-size: 14px
    color: #4E4E4E
    padding: 10px
    background: transparent
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none