@import common/variables

*
  margin: 0
  padding: 0
  font-family: sans-serif

body
  background: #F3F3F3

.header
  background: $green
  padding: 15px

  h4, p
    color: $white

.section
  margin-bottom: 30px

  &--header
    margin-bottom: 10px


.service
  background: $white
  margin-bottom: 10px
  border-left: 5px solid $white
  padding: 20px

  &__yellow
    border-left-color: $yellow