%h4
  %icon.icon-aliada
  Elige a tu Aliada

= select_tag 'aliadas_selector', options_from_collection_for_select(@user.aliadas, :id, :name), class: 'selectpicker'

= append :javascript do
  = javascript_include_tag 'jquery.selectBoxIt'
  :javascript
    $(".selectpicker").selectBoxIt({
      // Trigger events on original dom element
      aggressiveChange: true,
      autoWidth: false
    })
