%header.inner
  .container
    .row
      %a{href: '/', class: 'logo-container' }
        = image_tag 'logo-contrast.png', class: 'logo-contrast'
      .help-container
        - if user_signed_in?
          %span.icon.icon-user
          %a{href: edit_users_path(@user), title: 'Mi cuenta', class: 'account-link' }
            Mi Cuenta
          %a{href: new_service_users_path(@user), title: 'Programar nueva visita', class:'action-button-pink size-large'}
            Programar nueva visita
        - else
          %p.medium
            %icon.phone
            ¿Necesitas ayuda? Llámanos al (55)-6723-7041

