= form.select 'estimated_hours', options_from_collection_for_select(Setting.hours_space_room.to_a, :hours, :text), {}, class: 'selectpicker'

%a.small-letters.bathroom-bedrooms-toggle-button
  ¿No sabes los metros cuadrados?

= render partial: 'common/bathroom_bedrooms', locals: {form: form}

= append :javascript do
  = javascript_include_tag 'jquery.selectBoxIt'
  :javascript
    $(".selectpicker").selectBoxIt({
      // Trigger events on original dom element
      aggressiveChange: true,
      autoWidth: false
    })
