%nav.inner
  .inner-top-nav-wrapper.col-lg-12
    %ul.inner-top-nav
      %li.actions
        - breadcrumb_class = controller_action_name == 'users-next_services' ? 'active' : ''
        %a.action-button-green.size-large{href: next_services_users_path(@user),class: breadcrumb_class+" "+area(:back_button_action) }
          Próximas visitas
      %li.actions
        - breadcrumb_class = controller_action_name == 'users-previous_services' ? 'active' : ''
        %a.action-button-green.size-large{href: previous_services_users_path(@user),class: breadcrumb_class }
          Historial de visitas

      %li.actions
        - if current_user.admin?
          .admin-info
            %span.icon-help-with-circle
            .text
              %a.action-button-green.size-large{href: canceled_services_users_path(@user)}
                Servicios cancelados
              %a.action-button-green.size-large{href: deactivated_recurrences_users_path(@user)}
                Recurrencas desactivadas
      -#
        %li.actions
          %a.action-button-purple.size-large
            %span.icon-small-wand
            Limpieza gratis

    .balance-section
      .label
        Balance
        %span.balance-summary
          %span.icon-help-with-circle
          .text
            %div
            = link_to previous_services_users_path(@user) do
              Adeudado en servicios -$#{ @user.amount_owed }
            %div
              Créditos $#{ @user.points }
      .balance{class: @user.balance < 0 ? 'negative' : ''}
        $#{@user.balance}
