.inner-top-nav-wrapper.col-lg-12
  %ul.inner-top-nav
    %li.actions
      %a.action-button.size-large.selected
        Próximas visitas
    %li.actions
      %a.action-button.size-large
        Próximas visitas
    %li.actions
      %a.action-button.size-large
        %span.icon-small-wand
        Limpieza gratis

  .balance-section
    .label
      Crédito
      %span.glyphicon.glyphicon-question-sign
    .balance
      $100