%ul.summary
  %li.checked
    Duración del servicio: 4 horas
  %li.unchecked
    Pago: Mastercard - 2930
  %li.unchecked
    Dirección: Calle, 23, #322, Colonia, Estado, CP, México DF
  %li.unchecked
    Datos de contacto: Nombre, nombre@correo.com 55 3203 3290

  
