<!-- ko if: _(times()).isEmpty() -->
%p
  Lo sentimos no hay disponibilidad ese día, prueba otra fecha por favor.
<!-- /ko -->
<!-- ko ifnot: _(times()).isEmpty() -->
%fieldset.radio_buttons.medium{data: {bind: 'foreach: times'}}
  = label_tag '', '', data: {bind: 'attr: {for: "service_time_"+value}'} do
    = radio_button_tag 'time', '', data: {bind: 'attr: {value: value, id: "service_time_"+value}, checked: $root.time'}
    %span{data: {bind: 'text: friendly_time'}, class: "action-button-transparent size-medium"}
<!-- /ko -->
