= extends :application do
  .container.one-column
    .row
      %header
        = render partial: 'common/inner_header'

    .row
      %nav
        = render partial: 'common/inner_navigation'

    .row
      %main
        = yield
